rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /inventories/{token} {
      allow read, write: if true;
    }
    match /dispatches/{ref} {
      allow read, write: if true;
    }
    match /drafts/{id} {
      allow read, write: if true;
    }
  }
}
